
CMakeCache.txt
*.vcxproj
*.filters
*.cmake
*.bin
CMakeFiles/3.10.2/CompilerIdC/CMakeCCompilerId.c
*.obj
*.tlog
*.exe
*.log
*.stamp
*.sln
*.cxx
CMakeFiles/3.10.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/48af84954d768ff85f3fc37692fe2cc5/generate.stamp.rule
CMakeFiles/generate.stamp.list
CMakeFiles/TargetDirectories.txt
CMakeFiles/3.10.2/VCTargetsPath.txt
CMakeFiles/cmake.check_cache
*.depend
*.rule
*.db
*.opendb
*.suo
*.pdb
*.ilk
/Win32/Release/ALL_BUILD/ALL_BUILD.vcxprojResolveAssemblyReference.cache
